<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <title>User Login</title>
</head>

<body>
  <div align=center>
    <div style="text-align: center; display: inline-block;">
      <form class="pure-form pure-form-stacked" style="float: left; padding:13px 13px 13px 13px;">
          <fieldset>
              <legend>Login</legend>

              <label for="email">Email</label>
              <input id="loginEmail" type="email" placeholder="Email">

              <label for="password">Password</label>
              <input id="loginPassword" type="password" placeholder="Password">

              <button id="loginButton" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
      </form>
      <form id="registerForm" class="pure-form pure-form-stacked" style="float: left; padding:13px 13px 13px 13px;">
          <fieldset>
              <legend>Register</legend>

              <label for="email">Email</label>
              <input id="registerEmail" type="email" placeholder="Email">

              <label for="password">Password</label>
              <input id="registerPassword" type="password" placeholder="Password">

              <label for="verifyPassword">Verify Password</label>
              <input id="verifyPassword" type="password" placeholder="Verify Password">

              <button id="registerButton" class="pure-button pure-button-primary">Register</button>
          </fieldset>
      </form>
    </div>
  </div>
  <script src="/scripts/login.js"></script>
</body>
</html>
