<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <title>User Login</title>
</head>

<body>
  <div align=center>
    <div style="text-align: center; display: inline-block;">
      <form class="pure-form pure-form-stacked" style="float: left; padding:13px 13px 13px 13px;">
          <fieldset>
              <legend>Login</legend>

              <label for="email">Email</label>
              <input id="email" type="email" placeholder="Email">

              <label for="password">Password</label>
              <input id="password" type="password" placeholder="Password">

              <label for="remember" class="pure-checkbox">
                  <input id="remember" type="checkbox"> Remember me
              </label>

              <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
      </form>
      <form class="pure-form pure-form-stacked" style="float: left; padding:13px 13px 13px 13px;">
          <fieldset>
              <legend>Register</legend>

              <label for="email">Email</label>
              <input id="email" type="email" placeholder="Email">

              <label for="password">Password</label>
              <input id="password" type="password" placeholder="Password">

              <label for="verifyPassword">Verify Password</label>
              <input id="verifyPassword" type="password" placeholder="Verify Password">

              <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
      </form>
    </div>
  </div>

</body>
</html>
