<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>User API Endpoints</title>
</head>

<body>
  <h2> User Endpoints:</h2>
  <table border="1" cellpadding="6" >
    <tr>
      <td>Request</td>
      <td>Route</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>/user/</td>
      <td>Creates a given user.</td>
    </tr>
    <tr>
      <td>PUT</td>
      <td>/user/</td>
      <td>Updates a user. Must provide the ID along with the updated values.</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/user/{id}</td>
      <td>Gets the user associated with the given ID.</td>
    </tr>
    <tr>
      <td>DELETE</td>
      <td>/user/{id}</td>
      <td>Deletes the user associated with this id.</td>
    </tr>
  </table>
</body>
</html>
